.Thanks {
    position: relative;
    width: 100%;
    height: 270vh;
    background: var(--background);

    .container {
        --opacity: 0;
        background: var(--radial-background);
        opacity: var(--opacity);
    height: 270vh;


        transition: opacity 0.4s ease-in-out;

        .light {
            position: absolute;
            height: 20px;
            bottom: 0px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        .content {
            position: relative;
            top: 60%;
            max-width: 800px;
            margin: auto;
            padding: 16px;

            .helloWorld {
                background: linear-gradient(180deg, #FFFFFF 46.67%, #6A6A6A 120%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                position: relative;
                font-family: monospace;
                filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.5));
                font-size: calc(2vw + 1.5rem);
                font-weight: 700;

                &::before {
                    content: "'";
                    background: var(--primary-color);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }

                &::after {
                    content: "'";
                    background: var(--primary-color);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }

            .description {
                padding: 0px calc(2vw + 1.5rem);

                font-size: 18px;
                font-weight: 600;
                margin-top: 20px;
                margin-bottom: 20px;
                opacity: var(--opacity);
                transition: opacity 0.4s ease-in-out;
                position: relative;
                color: var(--gray-900);
                font-family: monospace;
                filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.5));
                font-size: calc(.7vw + .6rem);
                font-weight: 550;
                line-height: 150%;
                word-break: keep-all;
            }
        }
    }
}


.visibe {
    opacity: 1 !important;
}