.card {
    width: 100%;
    max-width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;

    .ball {
        position: absolute;
        display: block;
        width: 100px;
        height: 100px;
        transform: translate(-50%, -50%);
        background: #ccc;
        border-radius: 50%;
    }
}