.card3D {
    background-color: var(--card-background);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    border: 1px solid var(--card-border);
    position: relative;
    transition: border-color 0.2s ease-in-out;
}

.card3D:hover{
    border-color: var(--gray-600);
}

.card3D::before{
    background: radial-gradient(
        800px circle at var(--x) var(--y), var(--gray-800), transparent 40%
    );

    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;

    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

.card3D:hover::before{
    opacity: 1;
}