.project {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 24px;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out, opacity 0.4s ease-in-out, filter 0.4s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 16px;
    cursor: pointer;
    gap: 12px;
    z-index: 1;


    &:hover {
        // transform: scale(1.02) translateY(-4px);
        // box-shadow: 0px 18px 8px -4px #00000071;
        filter: brightness(1.2);
        background-color: var(--background-point);
    }

    .project__img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: calc(.3vw + 16px);
            height: calc(.3vw + 16px);
        }
    }

    .name {
        font-size: calc(.8vw + .7rem);
        font-weight: 600;
        letter-spacing: 0px;
        text-align: left;
        color: var(--gray-900);
        font-family: var(--font-family);
    }

    .description {
        font-size: calc(.6vw + .5rem);
        font-weight: 400;
        letter-spacing: 0px;
        text-align: left;
        color: var(--gray-900);
        font-family: var(--font-family);
    }
}

.selected {
    transform: scale(1.02) translateY(-4px);
    box-shadow: 0px 18px 8px -4px #00000071;
    filter: brightness(1.1);
    background-color: var(--background-point);

}
