.App {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  // width: 100vw;
  background: var(--radial-background);
}

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Somi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Somi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.row {
  display: flex;
  flex-direction: row;
}

#tsparticles {
  background: transparent;
  position: absolute;
}

:root {

  --font-family: 'SUIT Variable',
    sans-serif;

  --font-family-2: 'Somi',
    sans-serif;

  --font-family-3: 'LeferiPoint-BlackA';

  --primary-color: #01F3C7;
  --secondary-color: #0f0;
  --tertiary-color: #00f;

  --text-black: #fff;
  --text-white: #000;

  --const-black: #fff;
  --const-white: #000;

  --gray-50: #0d0d0d;
  --gray-100: #1a1a1a;
  --gray-200: #333333;
  --gray-300: #4d4d4d;
  --gray-400: #666666;
  --gray-500: #808080;
  --gray-600: #999999;
  --gray-700: #b3b3b3;
  --gray-800: #cccccc;
  --gray-900: #e6e6e6;
  --gray-1000: #ffffff;

  --card-background: var(--gray-50);
  --card-border: var(--gray-100);

  --background-point: #161C51;
  --background: #05092C;

  --radial-background: radial-gradient(73.62% 73.62% at 50% 26.38%, #202A82 0%, #05092C 100%);



  @media (prefers-color-scheme: dark) {

    --text-black: #000;
    --text-white: #fff;

    --const-black: #000;
    --const-white: #fff;

    --gray-50: #f3f3f3;
    --gray-100: #e6e6e6;
    --gray-200: #cccccc;
    --gray-300: #b3b3b3;
    --gray-400: #999999;
    --gray-500: #808080;
    --gray-600: #666666;
    --gray-700: #4d4d4d;
    --gray-800: #333333;
    --gray-900: #1a1a1a;
    --gray-1000: #000000;

    --card-background: var(--gray-900);
    --card-border: var(--gray-700);
  }
}